
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  *{
    margin: 0;
  	padding: 0;
  	border: 0;
  	vertical-align: baseline;
    top: 0px;
    left: 0px;
  }
  #canvas{
    position: absolute;
    z-index: 1;
    margin: 0;
    overflow: hidden;
  }
  #canvasGL{
    position: absolute;
    z-index: 2;

    margin: 0;
    overflow: hidden;
  }

</style>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
</head>
<body>

  <canvas id='canvas'></canvas>
  <canvas id='canvasGL'></canvas>
  <script>

    var ctx = document.getElementById('canvas').getContext('2d')
    ctx.canvas.width  = window.innerWidth;
    ctx.canvas.height = window.innerHeight;

    var ctxGL = document.getElementById('canvasGL').getContext('webgl')
    ctxGL.canvas.width  = window.innerWidth;
    ctxGL.canvas.height = window.innerHeight;

  </script>
  <script> <%- painting.code %></script>

</body>
</html>
